.main-bg {
    height: 100vh;
    background: linear-gradient(rgba(66,148,136,1) 15%, rgba(219,219,211,1) 15%);
    background-repeat:no-repeat;
}

.users-section {
    height: 90vh;
    border: 1px solid black

}
.chat-section {
    height: 90vh;
    border: 1px solid black;

}
.main-user {
    background-color: rgba(219,219,211,1)
}
.main-user img {
    width: 100px;
    border-radius: 50px;
    padding: 10px;
}
.main-user span {
    font-size: larger;
}
.main-user-setting {
    font-size: x-large;
    float: right;
    padding: 30px;
}
.mex {
    padding: 0px 15px 0px 15px;
}
.notification {
    background-color: rgb(125, 195, 225);
}
.notification-bell {
    vertical-align: 10px;
    font-size: x-large;
    padding: 15px;
    border-radius: 50px;
    background-color: white;
    color: cornflowerblue;
    margin-left: 15px;
}
.notification div {
    display: inline-block;
    padding-left: 15px;
}
.text-notification {
    padding: 15px;
    margin-left: 25px;
}
.notification h6 {
    text-decoration: underline;
}
.find-chat {
    padding: 15px 25px 15px 20px;
}
.find-chat i {
    padding: 5px;
    font-size: 20px;
}
.search-box {
    width: 250px;
    border: 0;
    padding: 5px;
}
.inner-find-chat {
    padding: 10px;
    background-color: white;

}
.users-pics {
    width: 100px;
    border-radius: 50px;
    padding: 10px;
}
.main-contact-chat-buttons {
    float: right;
    padding: 30px;
    font-size: x-large;
}
.chat-section-user-pic {
    float: left;
}
.main-user-info {
    float: left;
    padding: 25px;
}
.chat {
    height: 970px;
    background-image: url("../img/mine.jpg");
}
.message-box {
    padding: 5px;
    width: 620px;
    border-radius: 25px;
    border: 0;

}
.message-box-container {
    padding: 15px;
}
.emojis {
    padding: 20px 30px;
    font-size: larger;
}
.vocal-note {
    padding: 20px;
    font-size: larger;
}
.chat-contetn-area {
    border-top:  1dpx solid black;
}
